@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@@Elfbar.KPI</h1>
</div>

<div class="text-dark text-center">
    <a class="display-4 text-center" asp-area="" asp-controller="Item" asp-action="Index">Item</a>
</div>

